body{
	background: CornflowerBlue;
	font-family: Arial, Helvetica, sans-serif
}
.assignment{
	width:45%;
	height:40%;
	padding:10px;
	margin:10px;
	margin-bottom: 30px;
	background:rgb(40, 209, 96);
	box-shadow: rgb(100, 121, 237);

}

.assignments {
	display:flex;
	flex-wrap:wrap;

}
.assignment img {
	width: 200px;
	padding: 10px;
	margin: 10px;
	background-color: darkcyan;
	border-radius: 5px;
	display:block;
	margin:auto;
}

h1{
	color: black;
	text-align: center;
}

a{
	text-decoration:none;
	color:#fff;
}

.assignment a:hover{
	color:green;
}